<h3> Listando todos los articulos</h3>

<table border="1">
<tr>
    <th>ID</th>
    <th>title</th>
    <th>text</th>
    <th>Actions</th>
</tr>

<% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article %></td>
    </tr>
<% end %>
</table>

<%= link_to 'Crear un articulo', new_article_path %></td>