<h3>Detalle del articulo</p>
<p><strong>Titulo</strong></p>
<p><%= @article.title %></p>

<p><strong>Texto<strong</></p>
<p><%= @article.text %></p>

<h2>Comentarios</h2>

<%= render @article.comments %>

<h2>Agregar un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to "Volver al listado de articulos", articles_path %>
